#wreport {
    display: none;
}
#gameoverbox {
    top:10px;
    left:10px;
}
#gamebox {
    right:6px;
    width:140px;
    height:70px;
}

#topics {
    margin:10px;
}
div.topicbox {
    opacity:1;
}
.topiccont {
    overflow-y: scroll;
}